Node-RED_Flows/flows_lab3.json
[{"id":"f8b176b3.40f0f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"624e569f.a83808","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6c10986d.a2b5f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ebcfcbf0.460c38","type":"tab","label":"Joystick Control","disabled":false,"info":""},{"id":"55b50147.7cd6c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3ff534c.b76f3cc","type":"ui_group","name":"Function","tab":"f263a9c0.2ff598","order":1,"disp":true,"width":"6","collapse":false},{"id":"f263a9c0.2ff598","type":"ui_tab","name":"Gauge","icon":"dashboard","disabled":false,"hidden":false},{"id":"47cad8f1.02d988","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d26484da.d54cf8","type":"ui_spacer","name":"spacer","group":"3ff534c.b76f3cc","order":1,"width":1,"height":1},{"id":"4b6e82ec.32e27c","type":"ui_tab","name":"Compass","icon":"dashboard","disabled":false,"hidden":false},{"id":"a049878d.15ac28","type":"ui_group","name":"Compass","tab":"4b6e82ec.32e27c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5c05cb9.3a8b7","type":"ui_group","name":"Joystick","tab":"fef5ae81.11f63","order":1,"disp":false,"width":"7","collapse":false},{"id":"fef5ae81.11f63","type":"ui_tab","name":"Joystick","icon":"adjust","order":3,"disabled":false,"hidden":false},{"id":"b17e672d.c15da8","type":"ui_tab","name":"Lab 4","icon":"dashboard","disabled":false,"hidden":false},{"id":"95ab0960.7b9e48","type":"ui_group","name":"Chassis Speed","tab":"b17e672d.c15da8","order":1,"disp":true,"width":"6","collapse":false},{"id":"aebbbac2.07c318","type":"ui_group","name":"Chasis Speeds","tab":"d31f044.65d01f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d31f044.65d01f8","type":"ui_tab","name":"Lab 5","icon":"dashboard","disabled":false,"hidden":false},{"id":"368f2ea.e9597d2","type":"ui_group","name":"Wheel Speeds","tab":"d31f044.65d01f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"6d10f0a0.0dc35","type":"ui_group","name":"Robot Diagnostics","tab":"d31f044.65d01f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"c58872eb.55167","type":"ui_gauge","z":"f8b176b3.40f0f8","name":"","group":"3ff534c.b76f3cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"10","x":600,"y":300,"wires":[]},{"id":"dabba714.b058e8","type":"inject","z":"f8b176b3.40f0f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["2a5164a.f45939c"]]},{"id":"2a5164a.f45939c","type":"file in","z":"f8b176b3.40f0f8","name":"","filename":"/tmp/voltage_log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":300,"wires":[["c58872eb.55167"]]},{"id":"6f5e20d6.ef4d3","type":"inject","z":"624e569f.a83808","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["e0de1d12.34a23","405dab31.de2db4","2258e2c5.4a7dfe"]]},{"id":"3baee608.661e8a","type":"ui_text","z":"624e569f.a83808","group":"a049878d.15ac28","order":0,"width":0,"height":0,"name":"","label":"Compass Direction","format":"{{msg.payload}}","layout":"col-center","x":650,"y":420,"wires":[]},{"id":"e0de1d12.34a23","type":"file in","z":"624e569f.a83808","name":"","filename":"/tmp/heading.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":340,"wires":[["1d9789b9.88be86"]]},{"id":"405dab31.de2db4","type":"file in","z":"624e569f.a83808","name":"","filename":"/tmp/direction0.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":420,"wires":[["3baee608.661e8a"]]},{"id":"1d9789b9.88be86","type":"ui_gauge","z":"624e569f.a83808","name":"","group":"a049878d.15ac28","order":3,"width":0,"height":0,"gtype":"compass","title":"Compass","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":340,"wires":[]},{"id":"998a8f4e.b07b4","type":"ui_gauge","z":"624e569f.a83808","name":"","group":"a049878d.15ac28","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"10","x":660,"y":240,"wires":[]},{"id":"2258e2c5.4a7dfe","type":"file in","z":"624e569f.a83808","name":"","filename":"/tmp/voltage_log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":240,"wires":[["998a8f4e.b07b4"]]},{"id":"fcfdab90.e3e398","type":"ui_joystick","z":"ebcfcbf0.460c38","name":"Joystick","group":"b5c05cb9.3a8b7","order":1,"width":7,"height":5,"trigger":"all","timeInterval":"50","useThemeColor":false,"color":"#f10404","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":200,"y":140,"wires":[["c77ef1a0.d1b5d"]]},{"id":"c77ef1a0.d1b5d","type":"function","z":"ebcfcbf0.460c38","name":"selector","func":"msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["a075c338.4c942"]]},{"id":"a075c338.4c942","type":"join","z":"ebcfcbf0.460c38","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":140,"wires":[["dcee2977.ed6268"]]},{"id":"dcee2977.ed6268","type":"json","z":"ebcfcbf0.460c38","name":"","property":"payload","action":"str","pretty":true,"x":760,"y":140,"wires":[["f5207313.822de"]]},{"id":"f5207313.822de","type":"udp out","z":"ebcfcbf0.460c38","name":"SCUTTLE","addr":"127.0.0.1","iface":"","port":"3553","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":940,"y":140,"wires":[]},{"id":"4c711592.7deacc","type":"ui_gauge","z":"ebcfcbf0.460c38","name":"","group":"95ab0960.7b9e48","order":0,"width":"0","height":"0","gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"10","x":720,"y":420,"wires":[]},{"id":"ba27f0ac.caadb","type":"inject","z":"ebcfcbf0.460c38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["6077e92c.e27638","b64afac1.141a18","6cb74613.fdd488"]]},{"id":"6077e92c.e27638","type":"file in","z":"ebcfcbf0.460c38","name":"","filename":"/tmp/voltage_log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":420,"wires":[["4c711592.7deacc"]]},{"id":"b64afac1.141a18","type":"file in","z":"ebcfcbf0.460c38","name":"","filename":"/tmp/F_velo.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":200,"wires":[["8c6e4eab.9f127"]]},{"id":"6cb74613.fdd488","type":"file in","z":"ebcfcbf0.460c38","name":"","filename":"/tmp/A_velo.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":260,"wires":[["4a273f4c.e2e9f"]]},{"id":"8c6e4eab.9f127","type":"ui_chart","z":"ebcfcbf0.460c38","name":"","group":"95ab0960.7b9e48","order":0,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":684.2000122070312,"y":232,"wires":[[]]},{"id":"4a273f4c.e2e9f","type":"ui_chart","z":"ebcfcbf0.460c38","name":"","group":"95ab0960.7b9e48","order":0,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":704.2000122070312,"y":292,"wires":[[]]},{"id":"2dd935a5.cde02a","type":"ui_gauge","z":"55b50147.7cd6c","name":"","group":"6d10f0a0.0dc35","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"10","x":700,"y":140,"wires":[]},{"id":"73bd67da.73c388","type":"file in","z":"55b50147.7cd6c","name":"","filename":"/tmp/voltage_log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":140,"wires":[["2dd935a5.cde02a"]]},{"id":"a3681a8a.584638","type":"inject","z":"55b50147.7cd6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["73bd67da.73c388","18cd8bff.489794","3b93a37.1b5685c","7b3a78.89d1e588","fce9ddfd.b274d"]]},{"id":"18cd8bff.489794","type":"file in","z":"55b50147.7cd6c","name":"","filename":"/tmp/xdot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":200,"wires":[["f10202d1.58e92"]]},{"id":"7b3a78.89d1e588","type":"file in","z":"55b50147.7cd6c","name":"","filename":"/tmp/pdl.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":320,"wires":[["7fdb8f62.35205"]]},{"id":"3b93a37.1b5685c","type":"file in","z":"55b50147.7cd6c","name":"","filename":"/tmp/thetadot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":260,"wires":[["d523e7f6.544c28"]]},{"id":"fce9ddfd.b274d","type":"file in","z":"55b50147.7cd6c","name":"","filename":"/tmp/pdr.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":380,"wires":[["56107468.7d658c"]]},{"id":"f10202d1.58e92","type":"ui_chart","z":"55b50147.7cd6c","name":"","group":"aebbbac2.07c318","order":0,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":200,"wires":[[]]},{"id":"d523e7f6.544c28","type":"ui_chart","z":"55b50147.7cd6c","name":"","group":"aebbbac2.07c318","order":0,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":260,"wires":[[]]},{"id":"7fdb8f62.35205","type":"ui_chart","z":"55b50147.7cd6c","name":"","group":"368f2ea.e9597d2","order":0,"width":0,"height":0,"label":"Left Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":320,"wires":[[]]},{"id":"56107468.7d658c","type":"ui_chart","z":"55b50147.7cd6c","name":"","group":"368f2ea.e9597d2","order":0,"width":0,"height":0,"label":"Right Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":380,"wires":[[]]}]