Node-RED_Flows/Lab2_Flow.json
[{"id":"f8b176b3.40f0f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c58872eb.55167","type":"ui_gauge","z":"f8b176b3.40f0f8","name":"","group":"3ff534c.b76f3cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"10","x":280,"y":560,"wires":[]},{"id":"dabba714.b058e8","type":"inject","z":"f8b176b3.40f0f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["2a5164a.f45939c"]]},{"id":"2a5164a.f45939c","type":"file in","z":"f8b176b3.40f0f8","name":"","filename":"/tmp/voltage_log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":300,"wires":[["c58872eb.55167"]]},{"id":"3ff534c.b76f3cc","type":"ui_group","name":"Function","tab":"f263a9c0.2ff598","order":1,"disp":true,"width":"6","collapse":false},{"id":"f263a9c0.2ff598","type":"ui_tab","name":"Gauge","icon":"dashboard","disabled":false,"hidden":false}]